<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MobileGrowthMonitor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4FCFD77F1E695FCB003E8695</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FCFD7931E695FCB003E8695</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FCFD79E1E695FCB003E8695</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
